# Ignore Git files
.git
.gitignore

# Ignore environment variable files
.env

# Ignore PostgreSQL data directory
postgresql/data/

# Ignore node modules
node_modules/

# Ignore log files
*.log

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore temporary files
*.tmp
*.bak
